<div class="sticky-outer-wrapper">
    <div class="sticky-inner-wrapper" style="position:relative;top:0px;z-index:9999">
        <nav class="navbarstyle__NavbarStyle-i4x6b2-0 bPjtuj reusecore__navbar hosting_navbar" display="block">
            <div class="style__ContainerWrapper-sc-1gre7ok-0 hLDXvm container" width="1200px">
                <div width="100%" class="Box__BoxWrapper-m50ttq-0 bUAhZY">
                    <a href="/" class="Link__LinkWrapper-efswp7-0 ePrOKd main-logo" display="inline-block">
                        <img src="assets/img/logos/caby.svg" alt="Portfolio" class="Image__ImageWrapper-xwdy9p-0 dzaIEr"
                            style="height: 60px; opacity:1!important;" data-inject-svg />
                    </a>
                    <a href="/" class="Link__LinkWrapper-efswp7-0 ePrOKd logo-alt" display="inline-block">
                        <img src="assets/img/logos/caby.svg" alt="Portfolio" class="Image__ImageWrapper-xwdy9p-0 dzaIEr"
                            style="height: 60px; opacity:1!important;" data-inject-svg />
                    </a>
                    <div width="100%" class="Box__BoxWrapper-m50ttq-0 cxhWiz">
                        <ul class="scrollspy__menu main_menu menuLeft">
                            <li class=""><a href="#banner_section">Home</a></li>
                            <li class=""><a href="#ride_section">Ride</a></li>
                            <li class=""><a href="#fare_section">Fare Estimate</a></li>
                            <li class=""><a href="#feature_section">Features</a></li>
                            <li class=""><a href="#news_section">News</a></li>
                        </ul>
                        <ul class="scrollspy__menu main_menu menuRight">
                            <li class=""><a href="#">About</a></li>
                            <li class=""><a href="#">Contact</a></li>
                        </ul>
                        <div class="reusecore-drawer__handler" style="display:inline-block">
                            <button class="hamburgMenustyle__HamburgMenuWrapper-sc-12m1tps-0 gJqdsY hamburgMenu__bar"
                                aria-label="hamburgMenu">
                                <span></span><span></span><span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>