<section id="banner_section" class="bg-light o-hidden pt-5 pb-0" style="padding: 0%;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 d-flex flex-column text-center text-lg-left mb-5 mb-lg-0" data-aos="fade-right">
                <div class="pr-xl-5">
                    <h1 className="display-3">
                        Get there
                        <mark><span data-typed-text data-loop="true" data-type-speed="90"
                                data-strings='["Fast","Safe"]'></span></mark>
                        <br />
                        <mark data-aos="highlight-text" data-aos-delay="250">
                            Get a Caby
                            <!-- <span data-typed-text data-loop="true" data-type-speed="90" data-strings='[".","..","..."]'></span> -->
                        </mark>
                    </h1>
                    <p className="lead">
                        Travel across Nairobi quickly and safely. With the all new Caby
                        Ride Hailing App.
                    </p>

                    <ul class="nav nav-pills flex-xl-row pr-xl-5" role="tablist">
                        <li class="nav-item">
                            <a class="btn btn-lg btn-primary active w-100" id="tab-rider" data-toggle="tab"
                                href="#rider" role="tab" aria-controls="tab-rider" aria-selected="true">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/custom/man.svg" alt="Icon" class="icon bg-primary"
                                        data-inject-svg />
                                    <span>Rider</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-lg btn-primary w-100" id="tab-driver" data-toggle="tab" href="#driver"
                                role="tab" aria-controls="tab-driver" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/custom/steering-wheel.svg" alt="Icon" class="icon bg-primary"
                                        data-inject-svg />
                                    <span>
                                        Driver
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="col" data-aos="fade-left" data-aos-delay="250">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="rider" role="tabpanel"
                                aria-labelledby="tab-rider">
                                <div class="row justify-content-around align-items-center">
                                    <div class="col-12">
                                        <div
                                            class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                                            <a href="https://apps.apple.com/ke/app/caby-ride-sharing/id1481167631"
                                                class="mr-2" target="_blank">
                                                <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                                            </a>
                                            <a href="https://play.google.com/store/apps/details?id=com.cabycustomer.app"
                                                class="mr-2" target="_blank">
                                                <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="tab-driver">
                                <div class="row justify-content-around align-items-center">
                                    <div class="col-12">
                                        <div
                                            class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                                            <a href="https://apps.apple.com/ke/app/caby-driver-ride-sharing/id1481168019"
                                                class="mr-2" target="_blank">
                                                <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                                            </a>
                                            <a href="https://play.google.com/store/apps/details?id=com.cabydriver.app"
                                                class="mr-2" target="_blank">
                                                <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center" data-jarallax-element="-50">
                    <div class="col-10 col-sm-8 col-md-7 col-lg-9 col-xl-7" data-aos="zoom-in" data-aos-delay="250">
                        <img class="img-fluid" src="assets/img/mobile-app/mobile-app-6.png" alt="Caby" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-50 h-50 bottom right position-absolute" data-aos="zoom-in" data-aos-delay="500">
        <div class="blob h-100 w-100 bottom right bg-warning opacity-90" style="background-color: #027486 !important;">
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3 mt-5"></div>
</section>