<div id="feature_section" class="featurestyle__FeatureSectionWrapper-sc-4gpm3r-0 gZFkkz">
    <div class="style__ContainerWrapper-sc-1gre7ok-0 hLDXvm container container" width="1200px">
        <div class="Box__BoxWrapper-m50ttq-0 gcNKHl">
            <h2 font-size="22px,26px,26px,30px,36px" font-weight="600" color="#15172C" font-family="Poppins"
                class="Heading__HeadingWrapper-vaqy1n-0 fhPNIa">Beyond Ridesharing</h2>
            <p font-size="15px,16px" font-weight="400" color="#15172C" width="300px" font-family="Lato"
                class="Text__TextWrapper-sc-15lufec-0 lfFCrx">Certain requirements and features vary
                by country, region, and city.!</p>
        </div>
        <div class="Box__BoxWrapper-m50ttq-0 kabEuh row">
            <div class="Box__BoxWrapper-m50ttq-0 dtSesk col" width="1,0.5,0.3333333333333333,0.3333333333333333">
                <div class="react-reveal">
                    <div
                        class="featureBlockstyle__FeatureBlockWrapper-sc-1pllarm-0 eJmAPv feature__block icon_top saasFeature">
                        <div class="featureBlockstyle__IconWrapper-sc-1pllarm-1 hnVRov icon__wrapper">

                            <img src="assets/img/custom/coins.svg" alt="Money logo" class="bg-white my-4" width="160px"
                                height="150px" data-inject-svg />
                        </div>
                        <div class="featureBlockstyle__ContentWrapper-sc-1pllarm-2 jAGKIA content__wrapper">
                            <h2 font-size="15px,16px" font-weight="600" color="#15172C" font-family="Poppins"
                                class="Heading__HeadingWrapper-vaqy1n-0 klMTDm">
                                Affordable</h2>
                            <p font-size="15px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 gepeWj">
                                Get where ever you are going at pocket friendly prices
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Box__BoxWrapper-m50ttq-0 dtSesk col" width="1,0.5,0.3333333333333333,0.3333333333333333">
                <div class="react-reveal">
                    <div
                        class="featureBlockstyle__FeatureBlockWrapper-sc-1pllarm-0 eJmAPv feature__block icon_top saasFeature">
                        <div class="featureBlockstyle__IconWrapper-sc-1pllarm-1 hnVRov icon__wrapper">
                            <img src="assets/img/flags/kenya.svg" alt="Kenya logo" class="bg-white my-4" width="160px"
                                height="150px" data-inject-svg />
                        </div>
                        <div class="featureBlockstyle__ContentWrapper-sc-1pllarm-2 jAGKIA content__wrapper">
                            <h2 font-size="15px,16px" font-weight="600" color="#15172C" font-family="Poppins"
                                class="Heading__HeadingWrapper-vaqy1n-0 klMTDm">
                                Built For Kenyan Market
                            </h2>
                            <p font-size="15px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 gepeWj">
                                The app is built from scratch to cater for all your needs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Box__BoxWrapper-m50ttq-0 dtSesk col" width="1,0.5,0.3333333333333333,0.3333333333333333">
                <div class="react-reveal">
                    <div
                        class="featureBlockstyle__FeatureBlockWrapper-sc-1pllarm-0 eJmAPv feature__block icon_top saasFeature">
                        <div class="featureBlockstyle__IconWrapper-sc-1pllarm-1 hnVRov icon__wrapper">
                            <img src="assets/img/custom/web-plugin.svg" alt="Web logo" class="bg-white my-4"
                                width="160px" height="150px" data-inject-svg />
                        </div>
                        <div class="featureBlockstyle__ContentWrapper-sc-1pllarm-2 jAGKIA content__wrapper">
                            <h2 font-size="15px,16px" font-weight="600" color="#15172C" font-family="Poppins"
                                class="Heading__HeadingWrapper-vaqy1n-0 klMTDm">
                                Great Features
                            </h2>
                            <p font-size="15px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 gepeWj">
                                Filled with features that make your commuting safe and easy
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>