<div id="keyfeature" class="featureSliderstyle__FeatureSliderWrapper-sc-16pujt6-0 bgByTZ">
    <div class="FeatureSliderInner"><span> </span><span> </span><span> </span></div>
    <div class="style__ContainerWrapper-sc-1gre7ok-0 lDOAR container container" width="100%">
        <div class="Box__BoxWrapper-m50ttq-0 kOVPE">
            <div class="react-reveal">
                <h2 font-size="22px,26px,26px,30px,36px" font-weight="600" color="#15172C" font-family="Poppins"
                    class="Heading__HeadingWrapper-vaqy1n-0 fhPNIa">How does Caby
                    Work</h2>
            </div>
            <div class="react-reveal">
                <p font-size="15px,16px" font-weight="400" color="#15172C" width="300px" font-family="Lato"
                    class="Text__TextWrapper-sc-15lufec-0 lfFCrx">
                    Just choose the destination with some
                    simple touches!
                </p>
            </div>
        </div>
        <div class="Box__BoxWrapper-m50ttq-0 jHHZcE FeatureSlider">
            <div class="image-gallery " aria-live="polite">
                <div class="image-gallery-content">
                    <div class="image-gallery-slide-wrapper bottom ">
                        <div class="image-gallery-swipe">
                            <div class="image-gallery-slides">
                                <div class="image-gallery-slide center" id="slide_1">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot1.png" alt="slide one" />
                                    </div>
                                </div>
                                <div class="image-gallery-slide right" id="slide_1">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot2.png" alt="slide two" />
                                    </div>
                                </div>
                                <div class="image-gallery-slide">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot3.png" alt="slide three" />
                                    </div>
                                </div>
                                <div class="image-gallery-slide">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot4.png" alt="slide four" />
                                    </div>
                                </div>
                                <div class="image-gallery-slide">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot5.png" alt="slide five" />
                                    </div>
                                </div>
                                <div class="image-gallery-slide left">
                                    <div class="image-gallery-image">
                                        <img src="assets/img/screenshots/screenshot6.png" alt="slide six" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-gallery-bullets">
                            <div id="navigation" class="image-gallery-bullets-container" role="navigation"
                                aria-label="Bullet Navigation">
                                <button type="button" class="image-gallery-bullet active" aria-pressed="true"
                                    aria-label="Go to Slide 1">
                                </button>
                                <button type="button" class="image-gallery-bullet" aria-label="Go to Slide 2">
                                </button>
                                <button type="button" class="image-gallery-bullet" aria-label="Go to Slide 3">
                                </button>
                                <button type="button" class="image-gallery-bullet" aria-label="Go to Slide 4">
                                </button>
                                <button type="button" class="image-gallery-bullet" aria-label="Go to Slide 5">
                                </button>
                                <button type="button" class="image-gallery-bullet" aria-label="Go to Slide 6">
                                </button>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="image-gallery-thumbnails-wrapper bottom ">
                        <div class="image-gallery-thumbnails">
                            <div class="image-gallery-thumbnails-container"
                                style="-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-ms-transform:translate3d(0px, 0, 0);-o-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0)"
                                aria-label="Thumbnail Navigation"><a role="button" aria-pressed="true"
                                    aria-label="Go to Slide 1" class="image-gallery-thumbnail active">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a><a role="button" aria-label="Go to Slide 2"
                                    class="image-gallery-thumbnail">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a><a role="button" aria-label="Go to Slide 3"
                                    class="image-gallery-thumbnail">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a><a role="button" aria-label="Go to Slide 4"
                                    class="image-gallery-thumbnail">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a><a role="button" aria-label="Go to Slide 5"
                                    class="image-gallery-thumbnail">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a><a role="button" aria-label="Go to Slide 6"
                                    class="image-gallery-thumbnail">
                                    <div class="image-gallery-thumbnail-inner"><img /></div>
                                </a></div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>