<div id="ride_section" class="rideOptionstyle__OptionWrapper-sc-6i8280-0 fpvQOD">
    <div class="Box__BoxWrapper-m50ttq-0 eOFlYX">
        <div class="style__ContainerWrapper-sc-1gre7ok-0 hLDXvm container container" width="1200px">
            <div class="Box__BoxWrapper-m50ttq-0 gcNKHl">
                <h2 font-size="22px,26px,26px,30px,36px" font-weight="600" color="#15172C" font-family="Poppins"
                    class="Heading__HeadingWrapper-vaqy1n-0 fhPNIa">
                    Follow Your Own Path
                </h2>
                <p font-size="15px,16px" font-weight="400" color="#15172C" width="300px" font-family="Lato"
                    class="Text__TextWrapper-sc-15lufec-0 lfFCrx">You will have the city at your fingertips
                    with some simple touches!
                </p>
            </div>
            <div class="Box__BoxWrapper-m50ttq-0 kabEuh">
                <div id="riderBlock" width="48%" class="Box__BoxWrapper-m50ttq-0 dvNRUX riderBlock">
                    <div class="Box__BoxWrapper-m50ttq-0 iUfuRw desTitleWrapper desTitleWrapperLeft">
                        <h2 font-size="22px,26px,26px,30px,36px" font-weight="600" color="#15172C" font-family="Poppins"
                            class="Heading__HeadingWrapper-vaqy1n-0 fhPNIa desTitle">
                            Rider
                        </h2>
                        <div width="100%" class="Box__BoxWrapper-m50ttq-0 iqVJmQ desOnHover desOnHoverLeft">
                            <p font-size="14px,14px,16px,16px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 iVtVCx desDetailsFirst">
                                Ride at any time.
                            </p>
                            <p font-size="14px,14px,16px,16px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 iVtVCx">
                                Find Riders
                                around you!</p><a class="buttonStyle" href="#services">
                                <button type="button" class="buttonstyle__ButtonStyle-ntq24p-0 kOzmqZ reusecore__button"
                                    font-size="16px" font-weight="700" font-family="Lato" color="#000">
                                    <span class="btn-text">
                                        Learn More
                                    </span>
                                </button>
                            </a>
                            <a class="buttonStyle signupBtn" href="#services">
                                <button type="button" class="buttonstyle__ButtonStyle-ntq24p-0 cnHzNj reusecore__button"
                                    font-size="16px" font-weight="700" font-family="Lato" color="#1A73E8">
                                    <span class="btn-text">
                                        Sign up for ride
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <img src="assets/img/custom/riding-share.svg" alt="Man Image"
                        class="Image__ImageWrapper-xwdy9p-0 cBdvla rider_image_area" />
                </div>
                <div id="driverBlock" width="48%" class="Box__BoxWrapper-m50ttq-0 eXHBkE driverBlock">
                    <img src="assets/img/custom/driver-side.svg" alt="Driver Image"
                        class="Image__ImageWrapper-xwdy9p-0 cBdvla driver_image_area" />
                    <div class="Box__BoxWrapper-m50ttq-0 iUfuRw desTitleWrapper">
                        <h2 font-size="22px,26px,26px,30px,36px" font-weight="600" color="#15172C" font-family="Poppins"
                            class="Heading__HeadingWrapper-vaqy1n-0 fhPNIa desTitle">
                            Driver
                        </h2>
                        <div width="100%" class="Box__BoxWrapper-m50ttq-0 iqVJmQ desOnHover ">
                            <p font-size="14px,14px,16px,16px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 iVtVCx desDetailsFirst">
                                Drive when you want.
                            </p>
                            <p font-size="14px,14px,16px,16px,16px" font-weight="400" color="#15172C" font-family="Lato"
                                class="Text__TextWrapper-sc-15lufec-0 iVtVCx">
                                Find opportunities around you!
                            </p>
                            <a class="buttonStyle" href="#services">
                                <button type="button" class="buttonstyle__ButtonStyle-ntq24p-0 kOzmqZ reusecore__button"
                                    font-size="16px" font-weight="700" font-family="Lato" color="#000">
                                    <span class="btn-text">Learn More</span>
                                </button>
                            </a>
                            <a class="buttonStyle signupBtn" href="#services">
                                <button type="button" class="buttonstyle__ButtonStyle-ntq24p-0 cnHzNj reusecore__button"
                                    font-size="16px" font-weight="700" font-family="Lato" color="#1A73E8">
                                    <span class="btn-text">Sign up for ride</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>