{{> header1 }}
<section class="bg-light o-hidden pt-5 pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 d-flex flex-column text-center text-lg-left mb-5 mb-lg-0" data-aos="fade-right">
        <div class="pr-xl-5">
          <h1 className="display-3">
            Get there
            <mark><span data-typed-text data-loop="true" data-type-speed="90"
                data-strings='["Fast","Safe"]'></span></mark>
            <br />
            <mark data-aos="highlight-text" data-aos-delay="250">
              Get a Caby
              <!-- <span data-typed-text data-loop="true" data-type-speed="90" data-strings='[".","..","..."]'></span> -->
            </mark>
          </h1>
          <p className="lead">
            Travel across Nairobi quickly and safely. With the all new Caby
            Ride Hailing App.
          </p>

          <ul class="nav nav-pills flex-xl-row pr-xl-5" role="tablist">
            <li class="nav-item">
              <a class="btn btn-lg btn-primary active w-100" id="tab-rider" data-toggle="tab" href="#rider" role="tab"
                aria-controls="tab-rider" aria-selected="true">
                <div class="d-flex align-items-center">
                  <img src="assets/img/custom/man.svg" alt="Icon" class="icon bg-primary" data-inject-svg />
                  <span>Rider</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-lg btn-primary w-100" id="tab-driver" data-toggle="tab" href="#driver" role="tab"
                aria-controls="tab-driver" aria-selected="false">
                <div class="d-flex align-items-center">
                  <img src="assets/img/custom/steering-wheel.svg" alt="Icon" class="icon bg-primary" data-inject-svg />
                  <span>
                    Driver
                  </span>
                </div>
              </a>
            </li>
          </ul>

          <div class="col" data-aos="fade-left" data-aos-delay="250">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="rider" role="tabpanel" aria-labelledby="tab-rider">
                <div class="row justify-content-around align-items-center">
                  <div class="col-12">
                    <div
                      class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                      <a href="https://apps.apple.com/ke/app/caby-ride-sharing/id1481167631" class="mr-2"
                        target="_blank">
                        <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                      </a>
                      <a href="https://play.google.com/store/apps/details?id=com.cabycustomer.app" class="mr-2"
                        target="_blank">
                        <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="tab-driver">
                <div class="row justify-content-around align-items-center">
                  <div class="col-12">
                    <div
                      class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                      <a href="https://apps.apple.com/ke/app/caby-driver-ride-sharing/id1481168019" class="mr-2"
                        target="_blank">
                        <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                      </a>
                      <a href="https://play.google.com/store/apps/details?id=com.cabydriver.app" class="mr-2"
                        target="_blank">
                        <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-center" data-jarallax-element="-50">
          <div class="col-10 col-sm-8 col-md-7 col-lg-9 col-xl-7" data-aos="zoom-in" data-aos-delay="250">
            <img class="img-fluid" src="assets/img/mobile-app/mobile-app-6.png" alt="Caby" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-50 h-50 bottom right position-absolute" data-aos="zoom-in" data-aos-delay="500">
    <div class="blob h-100 w-100 bottom right bg-warning opacity-90" style="background-color: #027486 !important;">
    </div>
  </div>
  <div class="divider divider-bottom bg-primary-3 mt-5"></div>
</section>
<section class="bg-primary-3 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-lg-0">
        <img src="assets/img/custom/money.svg" alt="Money logo" class="bg-white opacity-50 my-4" width="160px"
          height="150px" data-inject-svg />
        <div class="px-xl-4">
          <h4>Affordable</h4>
          Get where ever you are going at pocket friendly prices
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <img src="assets/img/flags/kenya.svg" alt="Kenya logo" class="bg-white opacity-50 my-4" width="160px"
          height="150px" data-inject-svg />
        <div class="px-xl-4">
          <h4>Built For Kenyan Market</h4>
          The app is built from scratch to cater for all your needs
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <img src="assets/img/custom/web-plugin.svg" alt="Web logo" class="bg-white opacity-50 my-4" width="160px"
          height="150px" data-inject-svg />
        <div class="px-xl-4">
          <h4>Great Features</h4>
          Filled with features that make your commuting safe and easy
        </div>
      </div>
    </div>
  </div>
</section>
<section class="o-hidden">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 mb-5 mb-xl-0" data-aos="fade-right">
        <div class="text-center text-xl-left mb-lg-5">
          <h3 class="h1">
            Caby Ride Hailing
            <mark data-aos="highlight-text" data-aos-delay="250">awesome features</mark>
          </h3>
        </div>
        <ul class="nav nav-pills justify-content-center flex-xl-column pr-xl-5" role="tablist">
          <li class="nav-item">
            <a class="btn btn-lg btn-primary active w-100" id="tab-1" data-toggle="tab" href="#home-6" role="tab"
              aria-controls="tab-1" aria-selected="true">
              <div class="d-flex align-items-center">
                <img src="assets/img/icons/theme/design/layers.svg" alt="Icon" class="icon bg-primary"
                  data-inject-svg />
                <span>InApp Payment</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-lg btn-primary w-100" id="tab-2" data-toggle="tab" href="#profile-6" role="tab"
              aria-controls="tab-2" aria-selected="false">
              <div class="d-flex align-items-center">
                <img src="assets/img/icons/theme/devices/display-1.svg" alt="Icon" class="icon bg-primary"
                  data-inject-svg />
                <span>
                  Safety Messages
                </span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-lg btn-primary w-100" id="tab-3" data-toggle="tab" href="#contact-6" role="tab"
              aria-controls="tab-3" aria-selected="false">
              <div class="d-flex align-items-center">
                <img src="assets/img/icons/theme/general/folder.svg" alt="Icon" class="icon bg-primary"
                  data-inject-svg />
                <span>Great Navigation</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col" data-aos="fade-left" data-aos-delay="250">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="home-6" role="tabpanel" aria-labelledby="tab-1">
            <div class="row justify-content-around align-items-center">
              <div class="col-8 col-sm-4 col-lg-4 col-xl-5">
                <img src="assets/img/mobile-app/mobile-app-6.png" alt="Caby" class="img-fluid" />
              </div>
              <div class="col-sm col-md-6 mt-4 mt-sm-0">
                <h5>In-App Mpesa payment options</h5>
                <p>
                  Convenient Payments via Mpesa and Credit/Debit Payments.
                </p>
                <div class="mt-4">
                  <div
                    class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left bg-secondary">
                    <img src="assets/img/avatars/mu1.png" alt="Customer avatar image"
                      class="avatar avatar-sm flex-shrink-0 mr-3" />
                    <div class="text-dark mb-0">
                      &ldquo;Caby makes it such a breeze to make
                      payments.&rdquo;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-6" role="tabpanel" aria-labelledby="tab-2">
            <div class="row justify-content-around align-items-center">
              <div class="col-8 col-sm-4 col-lg-4 col-xl-5">
                <img src="assets/img/mobile-app/mobile-app-6.png" alt="Screenshot" class="img-fluid" />
              </div>
              <div class="col-sm col-md-6 mt-4 mt-sm-0">
                <h5>Locate me message for your safety</h5>
                <p>
                  Send Us Your Location incase of an emergency.
                </p>
                <div class="mt-4">
                  <div
                    class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left bg-secondary">
                    <img src="assets/img/avatars/mu.png" alt="Harvey Derwent avatar image"
                      class="avatar avatar-sm flex-shrink-0 mr-3" />
                    <div class="text-dark mb-0">
                      &ldquo;Caby's Locate-Me Feature makes me feel so
                      secure incase something happens.&rdquo;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-6" role="tabpanel" aria-labelledby="tab-3">
            <div class="row justify-content-around align-items-center">
              <div class="col-8 col-sm-4 col-lg-4 col-xl-5">
                <img src="assets/img/mobile-app/mobile-app-6.png" alt="Caby" class="img-fluid" />
              </div>
              <div class="col-sm col-md-6 mt-4 mt-sm-0">
                <h5>Great User Experience</h5>
                <p>
                  The is designed with simplicity in mind
                </p>
                <div class="mt-4">
                  <div
                    class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left bg-secondary">
                    <img src="assets/img/avatars/male-1.jpg" alt="Customer avatar image"
                      class="avatar avatar-sm flex-shrink-0 mr-3" />
                    <div class="text-dark mb-0">
                      &ldquo;The app is so easy to use.&rdquo;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="p-0 bg-primary row no-gutters o-hidden">
  <div class="col-lg-5 col-xl-6 d-flex align-items-center justify-content-center">
    <a data-fancybox href="https://youtu.be/3kSnsRxokVQ" class="btn btn-lg btn-light rounded-circle position-absolute"
      data-aos="zoom-in" data-aos-delay="400">
      <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1"
        data-inject-svg />
    </a>
    <img src="assets/img/custom/vid.jpg" alt="Image" class="w-100 h-100" />
    <div class="divider divider-side bg-primary d-none d-lg-block"></div>
  </div>
  <div class="col-lg-7 col-xl-6">
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-xl-9">
            <div class="text-white text-center text-lg-left">
              <h3 class="h1">Awesome Vetted Drivers</h3>
              <p class="lead">
                Our Drivers are vetted to ensure your safety and convenience
              </p>
            </div>
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-start mt-4 mt-md-5">
              <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                      class="m-2 icon icon-xs bg-success" data-inject-svg />
                  </div>
                  <h6 class="mb-0 ml-3">Safe</h6>
                </div>
              </div>
              <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="assets/img/icons/interface/icon-check.svg" alt="Layouts icon"
                      class="m-2 icon icon-xs bg-success" data-inject-svg />
                  </div>
                  <h6 class="mb-0 ml-3">Knowlegeable</h6>
                </div>
              </div>
              <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="assets/img/icons/interface/icon-check.svg" alt="Box icon"
                      class="m-2 icon icon-xs bg-success" data-inject-svg />
                  </div>
                  <h6 class="mb-0 ml-3">Quality Vehicles</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="o-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-around flex-lg-row-reverse">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pl-lg-5 pl-xl-0">
        <div data-aos="fade-in" data-aos-offset="250">
          <h2 class="h1 text-center text-lg-left">
            Here's how we do things differently
          </h2>
          <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
            <div class="my-4" data-aos="fade-left" data-aos-delay="100">
              <div class="d-flex">
                <div class="mr-3 mr-md-4">
                  <img src="assets/img/icons/theme/general/bookmark.svg" alt="Bookmark icon" class="icon bg-primary"
                    data-inject-svg />
                </div>
                <div>
                  <h5>Awesome Drivers</h5>
                  <div>
                    We only work with the most professional drivers. We vet
                    each of our drivers, and also have meet and greet
                    sessions to update them about the company policies.
                    Vetted cars: each car is vetted to ensure that it is in
                    the best condition. This process helps you have a safer
                    and more comfortable ride.
                  </div>
                </div>
              </div>
            </div>
            <div class="my-4" data-aos="fade-left" data-aos-delay="200">
              <div class="d-flex">
                <div class="mr-3 mr-md-4">
                  <img src="assets/img/icons/theme/design/select.svg" alt="Selection interface icon"
                    class="icon bg-primary" data-inject-svg />
                </div>
                <div>
                  <h5>Tech Support</h5>
                  <div>
                    Having a problem before the ride, while on route or
                    after the trip has ended? Quickly access our 24/7 tech
                    support. Our staff is always at hand to answer all your
                    queries and make sure you have the best ride-hailing
                    experience.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-xl-6">
        <div class="row justify-content-center" data-jarallax-element="-50">
          <div class="col-10 col-sm-8 col-md-6 col-lg-8 col-xl-6" data-aos="zoom-in" data-aos-delay="250">
            <img class="img-fluid position-relative" src="assets/img/mobile-app/mobile-app-6.png" alt="Screenshot" />
            <div class="h-75 w-75 position-absolute bottom right d-none d-lg-block" data-jarallax-element="-50">
              <div class="blob blob-4 w-100 h-100 bg-primary opacity-90"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">People are diggin’ it</h3>
        <div class="lead">Hear from Our Drivers & Customers</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="assets/img/avatars/driver.png" alt="Alvin Munene avatar image"
          class="avatar avatar-lg mb-3 mb-md-4" />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          &ldquo;<mark data-aos="highlight-text" data-aos-delay="200">I cut my build commute time in half</mark>
          compared to our other ride hailing apps. Love it.&rdquo;
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Ian Sam</h6>
          <span>Driver</span>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="assets/img/avatars/mu4.png" alt="Alice M avatar image" class="avatar avatar-lg mb-3 mb-md-4" />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          &ldquo;The Tech Support Team is super helpful. We're so glad to
          have them on call.&rdquo;
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Alice M</h6>
          <span>Rider</span>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="assets/img/avatars/mu7.png" alt="Bradley Singleton avatar image"
          class="avatar avatar-lg mb-3 mb-md-4" />
        <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
          &ldquo;Reliability is what Caby is known for, and
          <mark data-aos="highlight-text" data-aos-delay="200">they've totally delivered</mark>
          this time.&rdquo;
        </blockquote>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-1">Daniel Mwaniki</h6>
          <span>Client</span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>
<section class="o-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-around text-center text-lg-left">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pr-lg-5 pr-xl-0 order-lg-2">
        <div>
          <h2 class="display-4">You can grab it right now</h2>
          <p class="lead">
            GRAB A CABY TODAY. GET THE MOST AFFORDABLE RIDES IN TOWN.
            Looking for a Cab in the busy streets of Nairobi? Looking for a
            convenient and comfortable taxi? The download Caby today.
          </p>
          <ul class="nav nav-pills flex-xl-row pr-xl-5" role="tablist">
            <li class="nav-item">
              <a class="btn btn-lg btn-primary active w-100" id="tab-riderb" data-toggle="tab" href="#riderb" role="tab"
                aria-controls="tab-riderb" aria-selected="true">
                <div class="d-flex align-items-center">
                  <img src="assets/img/custom/man.svg" alt="Icon" class="icon bg-primary" data-inject-svg />
                  <span>Rider</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-lg btn-primary w-100" id="tab-driverb" data-toggle="tab" href="#driverb" role="tab"
                aria-controls="tab-driverb" aria-selected="false">
                <div class="d-flex align-items-center">
                  <img src="assets/img/custom/steering-wheel.svg" alt="Icon" class="icon bg-primary" data-inject-svg />
                  <span>
                    Driver
                  </span>
                </div>
              </a>
            </li>
          </ul>

          <div class="col" data-aos="fade-left" data-aos-delay="250">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="riderb" role="tabpanel" aria-labelledby="tab-rider-b">
                <div class="row justify-content-around align-items-center">
                  <div class="col-12">
                    <div
                      class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                      <a href="https://apps.apple.com/ke/app/caby-ride-sharing/id1481167631" class="mr-2"
                        target="_blank">
                        <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                      </a>
                      <a href="https://play.google.com/store/apps/details?id=com.cabycustomer.app" class="mr-2"
                        target="_blank">
                        <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="driverb" role="tabpanel" aria-labelledby="tab-driverb">
                <div class="row justify-content-around align-items-center">
                  <div class="col-12">
                    <div
                      class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start">
                      <a href="https://apps.apple.com/ke/app/caby-driver-ride-sharing/id1481168019" class="mr-2"
                        target="_blank">
                        <img alt="App Store" src="assets/img/mobile-app/apple.svg" />
                      </a>
                      <a href="https://play.google.com/store/apps/details?id=com.cabydriver.app" class="mr-2"
                        target="_blank">
                        <img alt="Play Store" src="assets/img/mobile-app/google-play.svg" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg order-lg-1">
        <div class="row justify-content-center" data-jarallax-element="-50">
          <div class="col-10 col-sm-8 col-md-6 col-lg-8 col-xl-6">
            <img class="img-fluid position-relative" src="assets/img/mobile-app/mobile-app-7.png" alt="Screenshot" />
            <div class="h-50 w-50 position-absolute bottom left d-none d-lg-block" data-jarallax-element="-50">
              <div class="blob blob-2 w-100 h-100 bg-primary-2 opacity-90 top right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer }}