{{!-- nav  start --}}
{{> nav}}
{{!-- nav  end --}}
{{!-- header  start --}}
{{> home/banner_section}}
{{!-- header  end --}}
{{!-- follow_path  start --}}
<div class="ridestyle__ContentWrapper-sc-15oc8m6-0 aclEw">
    {{> home/follow_path}}
    {{!-- follow_path  end --}}
    {{!-- where_to  start --}}
    {{> home/where_to}}
    {{!-- where_to  end --}}
    {{!-- caby_works  start --}}
    {{> home/caby_works}}
    {{!-- caby_works  end --}}
    {{!-- beyond_ride  start --}}
    {{> home/beyond_ride}}
    {{!-- beyond_ride  end --}}
    {{!-- latest_news  start --}}
    {{> home/latest_news}}
    {{!-- latest_news  end --}}
    {{!-- testimonials  start --}}

</div>
{{> home/testimonials}}
{{!-- testimonials  end --}}
{{!-- grab_it_now  start --}}
{{> home/grab_it_now}}
{{!-- grab_it_now  end --}}
{{!-- footer  start --}}
{{> footer}}
{{!-- footer  end --}}